<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>



<div class="row">
       <div class="span4 collapse-group">
         <h5>Recipe</h5>
          <p class="collapse" id="viewdetails">This is a recipe!</p>
          <p><a class="btn" data-toggle="collapse" data-target="#viewdetails">Details &raquo;</a></p>
       </div>
     </div>



<h2>Recipes</h2>
<table class="table table-striped table-bordered" id="recipeTable" style="width:100%">
  <thead>
    <tr>
      <th>Recipe Name</th>
      <th>Description</th>
      <th>Preparation Time</th>
      <th>Ingredient List</th>
      <th>Instructions</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
